*__pycache__/
*.pyc
*.pyo

# Ignore results files
/results/*/*_results*.json

# Ignore logs
logs/

# Ignore checkpoints
checkpoints/

# Output and error files
outputs/

# Log files
*.log

# VS Code settings
.vscode/
